.DS_Store
.idea/
.env

engine/bin/
/db-lab-run/

# Deploy contains Kubernetes configs with secrets, remove from .gitignore when generalized.
/deploy/

/engine/configs/config.yml
/engine/configs/server.yml
/engine/configs/run_ci.yaml
/engine/configs/ci_checker.yml

engine/meta

ui/packages/shared/dist/
