.DS_Store
.idea/

/bin/
/db-lab-run/

# Deploy contains Kubernetes configs with secrets, remove from .gitignore when generalized.
/deploy/

/configs/config.yml
/configs/server.yml
/configs/run_ci.yaml
/configs/ci_checker.yml
/packer/example.com.key
