.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d7eef2;
  padding: 4px 14px;
  color: #013a44;
}

.text {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
