@import '@postgres.ai/shared/styles/mixins';

.root {
  min-height: 0;
  min-width: 0;
  width: 437px;

  @media screen and (max-width: '600px') {
    width: 100%;
  }

  @include touch-transition(width);

  &.collapsed {
    height: 100%;
    width: 64px;
  }
}
