.textField {
  width: 300px;
  max-width: 100%;
}

.databasesContainer {
  width: 300px;
  max-width: 100%;
}

.chip {
  margin-right: 8px;
  margin-top: 8px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  @media screen and (max-width: '560px') {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start !important;
  }
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.root {
  font-size: 12px;
}

.spinner {
  margin-left: 8px;
}
