.textField {
  width: 300px;
  max-width: 100%;
}

.databasesContainer {
  width: 300px;
  max-width: 100%;
}

.chip {
  margin-right: 8px;
  margin-top: 8px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.root {
  font-size: 12px;
  max-width: 450px;
}

.spinner {
  margin-left: 8px;
}
